@import "../../../../styles/mixin";

.headerBottom {
  background: #fff;
  display: flex;
  align-items: center;
  .container {
    color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 32px;
    @include xs {
      gap: 0;
      flex-wrap: wrap;
      .left {
        order: 1;
      }
      .right {
        order: 3;
      }
      .search {
        &.searchOpen {
          display: block;
        }
        display: none;
        order: 4;
        width: 100%;
      }
    }
    @include md {
      gap: 8px;
    }
    .left {
      display: flex;
      align-items: center;
      .logo {
        display: flex;
        align-items: center;
        gap: 8px;
        color: #333;
        padding: 16px 0;
        font-size: 22px;
        outline: none;
      }
    }
    .search {
      @include sm {
        flex: 1;
      }
      @include md {
        flex: 1;
        margin-inline: 24px;
      }
    }
    .right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .items {
        display: none;
        align-items: center;
        @include md {
          display: flex;
        }
        @include lg {
          display: flex;
        }
        @include xl {
          display: flex;
        }
        .item {
          padding: 0 8px;
          svg {
            font-size: 24px;
          }
          span {
            cursor: pointer;
          }
          .pointLink {
            display: flex;
            align-items: center;
            gap: 4px;
          }
        }
      }
      .searchIcon {
        display: none;
        @include xs {
          display: block;
        }
      }
    }
  }
}
