.commentProduct {
  .heading {
    .top {
      display: flex;
      align-items: center;
      gap: 8px;
      .fullName {
        font-weight: 600;
      }
    }
  }
  .content {
    margin-top: 2px;
  }
}
