.images {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 16px 0;
  .imageItem {
    overflow: hidden;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .variants {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 8px;
  }
  .imageImageBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
}
