@import "../../../../../styles/mixin";

.categories {
  align-items: center;
  justify-content: center;
  height: 48px;
  border-top: 1px solid rgb(245, 245, 245);
  border-bottom: 1px solid rgb(245, 245, 245);
  display: none;
  @include xs {
    order: 2;
  }
  @include lg {
    display: flex;
  }
  @include xl {
    display: flex;
  }
  .navItems {
    display: flex;
    gap: 24px;
    padding: 0 16px;
    .navItem {
      position: relative;
      .navItemLink {
        display: block;
        padding: 16px 0;
        white-space: nowrap;
        &.active {
          color: var(--blue);
        }
      }
      &:hover {
        .navItemLink {
          color: var(--blue);
        }
        .menu {
          display: flex;
          flex-wrap: wrap;
          padding: 8px 0;
        }
      }
      .menu {
        position: absolute;
        top: 100%;
        left: 0;
        box-shadow: 0 0 1px 1px lightgray;
        display: none;
        background-color: #fff;
        z-index: 9999;
        .menu-item {
          cursor: pointer;
          white-space: nowrap;
          padding: 8px 16px;
          text-align: left;
          &:hover {
            .menu-item-link {
              color: var(--blue);
            }
          }
        }

        &::before {
          content: "";
          position: absolute;
          left: 8px;
          top: -22px;
          border-bottom: 11px solid lightgray;
          border-left: 11px solid transparent;
          border-right: 11px solid transparent;
          border-top: 11px solid transparent;
        }
        &::after {
          content: "";
          position: absolute;
          left: 9px;
          top: -19px;
          border-bottom: 10px solid #fff;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 10px solid transparent;
        }
      }
    }
  }
}
