.body {
  display: flex;
  gap: 16px;
}
.left {
  display: flex;
  gap: 4px;
}
.images {
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow: hidden;
}

.images img {
  cursor: pointer;
}
.singleImageWrapper {
  overflow: hidden;
  width: 100%;
}
.singleImage {
  width: 100%;
  overflow: hidden;
  display: block;
  position: relative;
  height: 0;
  padding-bottom: 133%;
}

.commentProducts {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
