.modalAuth {
  background-color: #fff;
  width: 440px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;
}
.closeIcon {
  position: absolute;
  top: -16px;
  right: -16px;
  width: 32px;
  height: 32px;
  background-color: #eeeeee;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: gray;
}
.tabs {
  display: flex;
}
.tab {
  flex: 1;
  padding: 24px 0;
  text-align: center;
  text-transform: uppercase;
  background-color: #f2f2f2;
  cursor: pointer;
  color: gray;
}
.closeIcon:hover,
.tab.active,
.tab:hover {
  color: #000;
}
.tab.active {
  background-color: #fff;
}
.form {
  width: 440px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  outline: none;
  gap: 16px;
  padding: 32px;
}

.btn {
  border: none;
  outline: none;
  box-shadow: 0 0 1px 1px var(--blue);
  padding: 16px 24px;
  width: 100%;
  background-color: var(--blue);
  color: #fff;
}
.btn:hover {
  box-shadow: 0 0 1px 2px var(--blue);
}
