.widgetWrapper {
  padding: 16px;
}
.widgetMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.widgetContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  height: 100%;
}
.widgetValue {
  font-size: 28px;
  font-weight: 500;
}
.widgetValueDown {
  color: red;
}
.widgetValueUp {
  color: green;
}
.widgetOldValue {
  font-size: 14px;
  color: gray;
}
.widgetIcon svg {
  font-size: 36px;
}
.widgetViewMore,
.recentOrdersViewMore,
.productVariantsViewMore {
  text-decoration: underline;
  color: var(--blue);
}
.recentOrdersViewMore {
  margin-top: 2px;
}
.spanStatus {
  padding: 3px 6px;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
}
.listRevenueTab {
  font-size: 12px;
  cursor: pointer;
  background-color: #f2f2f2;
  box-shadow: 0 0 1px 0 lightgray;
  padding: 5px 10px;
}
.listRevenueTab.active {
  background-color: #456;
  color: #fff;
}
