.order {
  box-shadow: 0 0 1px 1px lightgray;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  .title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .left {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
    .right {
      display: flex;
      flex-direction: column;
      gap: 4px;
      align-items: flex-end;
      .row {
        display: flex;
        align-items: center;
        span {
          display: block;
          width: 80px;
          &:last-child {
            display: block;
            text-align: right;
          }
        }
      }
    }
    .btn {
      background-color: rgba(234, 182, 182, 0.618);
      color: red;
      border: none;
      padding: 6px 18px;
      border-radius: 5px;
      &:hover {
        box-shadow: 0 0 1px 1px rgb(234, 182, 182);
        &:disabled {
          box-shadow: none;
          cursor: default;
        }
      }
    }
  }
  .items {
    display: flex;
    flex-direction: column;
    gap: 12px;
    .item {
      display: flex;
      gap: 16px;
      .product {
        display: flex;
        flex-direction: column;
        gap: 2px;
        .name {
          font-weight: 500;
          font-size: 1.4rem;
        }
        .productVariantName {
          color: gray;
        }
        .price {
          color: red;
        }
      }
    }
  }
}
