.sidebar {
  width: 280px;
  border-right: 1px solid lightgray;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.logo {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid lightgray;
}
.nav {
  margin-top: 8px;
}
.logout {
  cursor: pointer;
}
.logout:hover,
.hasMenu:hover,
.navLink:hover {
  background-color: #f2f2f2;
}
.navItemsDark .logout:hover,
.navItemsDark .hasMenu:hover,
.navItemsDark .navLink:hover {
  background-color: #fff;
  color: #000;
}
.hasMenu,
.logout,
.navLink {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  position: relative;
  font-size: 14px;
}
.navLink.active {
  background-color: var(--blue);
  color: #fff;
}
.logout svg,
.hasMenu svg,
.navLink svg {
  font-size: 22px;
}
.hasMenu {
  cursor: pointer;
  user-select: none;
}
.hasMenu .closeMenuIcon,
.hasMenu .openMenuIcon {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
}
.checkbox:checked + .hasMenu .closeMenuIcon {
  display: none;
}
.checkbox:checked + .hasMenu .openMenuIcon {
  display: inline;
}
.checkbox + .hasMenu .openMenuIcon {
  display: none;
}
.checkbox + .hasMenu .closeMenuIcon {
  display: inline;
}
.navMenu {
  display: none;
  padding-left: 16px;
}
.checkbox:checked + .hasMenu + .navMenu {
  display: block;
}
